<!doctype html>
<html>

<head>
  <title>Recommendation System Results Display</title>
  <style>
    label {
      display: inline-block;
      width: 140px;
      text-align: right;
    }
  </style>
</head>

<body>
  <h1>Recommendation Systems Display</h1>
  <div class="left">
    <form method="post" action="/">
      <h3>Enter Information</h3>
      <div>
        <label>User ID</label>
        <input type="text" name="uid" placeholder="A3R27T4HADWFFJ"><br>
        <label>Item ID</label>
        <input type="text" name="iid" placeholder="0005019281"><br>
        <label>User ID</label>
        <input type="text" name="recuid" placeholder="A3R27T4HADWFFJ"><br>
        <label>Number of Recommended Items</label>
        <input type="number" name="n" placeholder=5><br>
      </div>
      <input type="submit" name="Submit">
      {% for result in results%}
      <tr>
        <td>{{result}}</td>
      </tr>
      {% endfor %}
    </form>
  </div class="left">
  <div class="right">
    <h3>Availble Sample UserID and ItemID</h3>
    <table>
      <tr>
        <th>UserID</th>
      </tr>
      {% for uid in sample_uid %}
      <tr>
        <td>{{uid}}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      <tr>
        <th>ItemID</th>
      </tr>
      {% for iid in sample_iid %}
      <tr>
        <td>{{iid}}</td>
      </tr>
      {% endfor %}
    </table>
  </div class=right">



</body>

</html>